{% extends "base.html" %}

{% block content %}
    {% for elem in data_from_es %}

        <div class="base-cards-style row">
            <a href="/{{ elem['_source']['id'] }}">
                <div class="custom-settings-card col s12 m6">
                    <div class="card-size card">
                        <span class="title-text card-title">{{ elem['_source']['h1'] }}</span>

                        <div class="card-content">
                            <p class="p-text">{{ elem['_source']['description'] }}</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>

    {% endfor %}
{% endblock %}
