<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../static/styles.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">

    <title>Пробуем</title>
</head>
<body>

    <nav class="app-bar-style">
        <div class="nav-wrapper">
        <a href="/" class="title-app-bar-style brand-logo">The final project of Yandex Lyceum</a>
        <ul id="nav-mobile" class="link-app-bar-style right hide-on-med-and-down">
            <li>
                <a href="http://localhost/admin" title="Панель администратора">
                    <i class="material-icons right">
                        settings
                    </i>
                </a>
            </li>
        </ul>
        </div>
    </nav>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
