.app-bar-style {
    background-color: #1e88e5;
}

.title-app-bar-style {
    margin-left: 24px;
    color: #fafafa;
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
}

.link-app-bar-style {
    width: 72px;
}
