.app-bar-style {
    background-color: #1e88e5;
}

.title-app-bar-style {
    margin-left: 24px;
    color: #fafafa;
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
}

.link-app-bar-style {
    width: 72px;
}

.button-app-bar-style {
    background-color: #ff9800;
}

.button-app-bar-style:hover {
    background-color: #c66900;
}

.position-btn {
    position: fixed;
    right: 6vw;
    bottom: 10vh;
}


.base-cards-style {
    margin-left: auto;
    margin-right: auto;
    width: 344px;
}

.card-size {
    min-height: 148px;
    min-width: 440px;
    width: auto;
    height: auto;
    text-align: left;
    padding-top: 16px;
}

.title-text {
    margin-left: 16px;
    font-size: medium;
    font-family: 'Rubik', sans-serif;
    color: #212121;
}

.box-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column
}

.h1-text {
    margin-bottom: 64px;
    font-size: revert;
    font-family: 'Work Sans', sans-serif bold;
    color: #212121;
    font-weight: bold;
}

.p-text {
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    color: #393838;
}

.description-text {
    margin-top: 64px;
    font-size: 24px;
    color: #393838;
}

.box-description {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 640px;
    margin-top: 32px;
}

.custom-settings-card {
    margin-top: 16px;
}
