.app-bar-style {
    background-color: #1e88e5;
}

.title-app-bar-style {
    margin-left: 24px;
    color: #fafafa;
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
}

.link-app-bar-style {
    width: 72px;
}

.button-app-bar-style {
    background-color: #ff9800;
}

.button-app-bar-style:hover {
    background-color: #c66900;
}

.position-btn {
    position: absolute;
    right: 6vw;
    bottom: 6vh;
}
